.beranda,
.beranda * {
  box-sizing: border-box;
}
.beranda {
  background: #ffffff;
  height: 768px;
  position: relative;
  overflow: hidden;
}
.rectangle-96 {
  background: #ffffff;
  width: 1370px;
  height: 768px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2865 {
  background: #06aec9;
  width: 1366px;
  height: 152px;
  position: absolute;
  left: 4px;
  top: 0px;
}
.rectangle-2864 {
  background: #ffffff;
  width: 288px;
  height: 768px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-2877 {
  background: rgba(6, 174, 201, 0.1);
  border-radius: 8px;
  width: 240px;
  height: 65px;
  position: absolute;
  left: 24px;
  top: 166px;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.beranda2 {
  color: #38aeca;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 111px;
  top: 187px;
}
.material-symbols-dashboard-outline-rounded {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 52px;
  top: 180px;
  overflow: visible;
}
.group-32 {
  position: absolute;
  inset: 0;
}
.ruangan {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 111px;
  top: 262px;
}
.material-symbols-meeting-room-rounded {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 52px;
  top: 255px;
  overflow: visible;
}
.group-31 {
  position: absolute;
  inset: 0;
}
.booking-list {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 111px;
  top: 337px;
}
.material-symbols-list-rounded {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 52px;
  top: 330px;
  overflow: visible;
}
.bio-room {
  text-align: left;
  font-family: "ReemKufi-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 103px;
  top: 35px;
}
.bio-room-span {
  color: #f58732;
  font-family: "ReemKufi-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.bio-room-span2 {
  color: #38aeca;
  font-family: "ReemKufi-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.group-10 {
  width: 4.03%;
  height: 7.16%;
  position: absolute;
  right: 93.19%;
  left: 2.78%;
  bottom: 88.93%;
  top: 3.91%;
  overflow: visible;
}
.rectangle-2866 {
  background: #ffffff;
  border-radius: 15px;
  width: 1025px;
  height: 630px;
  position: absolute;
  left: 324px;
  top: 102px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.group-51 {
  position: absolute;
  inset: 0;
}
.rectangle-2903 {
  background: #ff8934;
  border-radius: 30px;
  width: 216px;
  height: 48px;
  position: absolute;
  left: 1090px;
  top: 152px;
}
.group-50 {
  width: 177px;
  height: 24px;
  position: static;
}
.jadwalkan-rapat {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1132px;
  top: 165px;
}
.ic-round-plus {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1108px;
  top: 164px;
  overflow: visible;
}
.rectangle-2882 {
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  border-style: solid;
  border-color: #7b9aaf;
  border-width: 1px;
  width: 1025px;
  height: 272px;
  position: absolute;
  left: 324px;
  top: 462px;
}
.rapat-progress-bulanan {
  color: #38aeca;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1010px;
  top: 522px;
  width: 123px;
}
._10-00 {
  color: #414048;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 604px;
  top: 519px;
}
.the-sun {
  color: #414048;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 424px;
  top: 519px;
}
._03-feb-2025 {
  color: #414048;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 588px;
  top: 548px;
}
._10-30 {
  color: #414048;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 751px;
  top: 519px;
}
._30-menit {
  color: #414048;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 889px;
  top: 519px;
}
._16 {
  color: #414048;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1181px;
  top: 519px;
}
._03-feb-20252 {
  color: #414048;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 735px;
  top: 548px;
}
.lantai-5 {
  color: #414048;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 424px;
  top: 548px;
}
.nama-ruangan {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 405px;
  top: 476px;
}
.mulai {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 604px;
  top: 476px;
}
.selesai {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 745px;
  top: 476px;
}
.jumlah-peserta {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 1126px;
  top: 476px;
}
.add-on {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 1274px;
  top: 476px;
}
.aksi {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 341px;
  top: 476px;
}
.durasi {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 898px;
  top: 476px;
}
.uraian {
  color: #7b9aaf;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 1045px;
  top: 476px;
}
.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: #d5dee4;
  border-width: 1px 0 0 0;
  width: 951px;
  height: 0px;
  position: absolute;
  left: 372px;
  top: 508px;
}
.beranda3 {
  color: #4d919c;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 372px;
  top: 133px;
}
.carbon-user-avatar-filled {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1274px;
  top: 34px;
  overflow: visible;
}
.user {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 1213px;
  top: 41px;
}
.tabler-bell-filled {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 1126px;
  top: 36px;
  overflow: visible;
}
.fa-search {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1076px;
  top: 39px;
  overflow: visible;
}
