.beranda,
.beranda * {
  box-sizing: border-box;
}
.beranda {
  background: #ffffff;
  height: 768px;
  position: center;
  overflow: hidden;
}
.rectangle-2866 {
  background: #ffffff;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  max-width: 97%;
  max-height: 85%;
  position: absolute;
  left: 20px;
  top: 90px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn-add{
  background: #ff8934;
  border-radius: 30px;
  width: 216px;
  height: 48px;
  position: absolute;
  top: 15%;
  left:83%;
}
.jadwalkan-rapat {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  position: absolute;
  top:10px;
  left:50px;
}