/* Figma Styles of your File */
:root {
  /* Colors */
  --teal: #4d919c;
  --tosca: #38aeca;
  --cyan: #5efefc;
  --orange: #ee8826;
  --tangerine: #f6b034;
  --arrows: #e934f6;

  /* Fonts */
  /* Effects */
}
